.logo {
    padding: 10px 0;
    height: 70px;
    width: auto;
    display: block;
}


.iconBurger svg {
    color: #01a9ce;
}

.navbarToggler {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #fff;
}


.navbarCollapse {
    height: 100vh;

}

.navbarCollapse li {
    text-align: left;
}

#product {
    padding: 10px;
    color: #ffffff;
    background-color: #01a9ce;
    font-size: 13px;
}

.navLink {
    font-family: 'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 13px;
    color: #204F7D;
}


.navLink {
    border-bottom: 1px rgb(194, 194, 194) solid;
}

.ctaButton {
    color: #34bbda;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    border-radius: 20px;
    transition: opacity 0.3s ease;
    padding: 10px 0;
}

.ctaButtonPas {
    color: #34bbda;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    padding-left: 0;
}




@media (min-width: 991.98px) {

    #product {
        position: relative;
        z-index: 1;
        padding: 6px 8px;
        text-transform: uppercase;
        font-size: 13px;
    }

    #product::before {
        content: "";
        position: absolute;
        top: -30px;
        right: 0;
        width: calc(80% + 30px);
        height: 95px;
        background-color: #01a9ce;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: -1;
    }

    .logo {
        width: 225px;
        height: 100%;
        display: block;
    }

    .containerHeader {
        height: 79px;
    }



    #linkNav {
        font-size: 13px;
        border: none;
        color: #575756;
        padding: 6px;
    }

    #linkNav:hover {
        color: #01a9ce;
    }

    .ctaButton {
        background-color: #34bbda;
        color: #fff;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        border-radius: 20px;
        transition: opacity 0.3s ease;
        padding: 6px 22px;
    }


    .ctaButton:hover {
        color: #fff;
        background-color: #34bbda;
        opacity: 0.7;
    }

    .ctaButtonPas {
        background-color: #fff;
        color: #34bbda;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        border-radius: 20px;
        border: 1px solid #34bbda;
        padding: 6px 22px;
    }

    .ctaButtonPas:hover {
        color: #34bbda;
        border: 1px solid #34bbda;
        background-color: #fff;
    }

    .ctaButtonPas i {
        margin-left: 20px;
    }
}