.serviceContainer {
    background-color: #f1f1f1;
}


.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #204f7d;
    margin: 0;
}

.description {
    font-size: 21px;
    color: #575756;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.buttonService {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #204f7d;
    color: #f6f6f6;
    width: 100%;
    padding: 6px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: 500;
}


.textPanel {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 20px 10px 20px;
}

.spanButton {
    display: none;
}

.arrow {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(90deg);
}

.buttonService i {
    margin-top: 2px;
    margin-right: 5px;

}

.textPanel h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #204f7d;
    margin-bottom: 10px;
}

.textPanel p {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 0 30px 20px 0;
}

@media (min-width: 768px) {
    .title {
        font-size: 32px;
    }

    .description {
        font-size: 23px;
    }

    .spanButton {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #f6f6f6;
        font-size: 16px;
        margin-right: 16px;
    }
}

@media (min-width: 991.98px) {

    .buttonService {
        margin-left: 20%;
        width: 60%;
    }

    .textPanel {
        margin-left: 22%;
        width: 60%;
    }
}